@font-face {
    font-family: 'BasisGrotesquePro';
    src: url(/landing-5/assets/fonts/BasisGrotesquePro/BasisGrotesquePro-Medium.ttf);
}

@font-face {
    font-family: 'Ogg';
    src: url(/landing-5/assets/fonts/Ogg/Ogg-Roman.otf);
}

/* Общие стили */
.hero__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* Индивидуальные стили */
.header__text{
    font-family: 'BasisGrotesquePro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}


.message{
    font-family: 'Ogg';
    font-style: normal;
    font-weight: normal;
    font-size: 118px;
    line-height: 120px;
    text-align: center;
    color: #000000;
}


/* Block 1 */


/* Block ADS */
.ads{
    font-family: 'BasisGrotesquePro';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}


/* Block 2 */

.shop__all-text{
    font-family: 'Ogg';
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 48px;
    line-height: 68px;
    color: #000000;
}
